body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background: #f8f8f8;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 80%;
    align-items: flex-start;
}

main img {
    width: 250px;
    height: auto;
    margin-left: 20px;
}

.site-footer {
    padding: 10px 20px; /* Reduced padding */
    font-size: 0.8em; /* Smaller text */
}

.site-footer .social, .site-footer .footer-text {
    margin-bottom: 0; /* Less space between elements */
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    display: inline; /* Makes list horizontal */
    margin-right: 10px; /* Space between icons */
}

/* Add these styles for fixed card sizes */
.card.fixed-size {
    width: 18rem;
    height: 22rem;
}

.card.fixed-size .card-img-top {
    height: 10rem;
    object-fit: cover;
}

/* Ensure rows have space between them */
.row.mb-4 {
    margin-bottom: 20px;
}

/* Add style to remove underline from links and make the whole card clickable */
a.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

